:root {
  --color-red: #cc0000;
  --color-blue: #0000cc;
  --light-grey: #ebebeb;
  --color-white: #ffffff;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
}

input {
  border: 1px solid var(--light-grey);
}

button {
  color: var(--color-white);
  display: flex;
}

.login {
  background-color: var(--color-blue);
}

.cancel {
  background-color: var(--color-red);
}
