@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

:root {
  font-size: 16px;
  --colour-blue: #0000cc;
  --colour-red: #cc0000;
  --colour-white: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

h1,
h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

section,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

button {
  background-color: var(--colour-blue);
  border: var(--colour-blue) 1px solid;
  color: var(--colour-white);
  padding: 1rem 0;
  width: 90%;
}

button a {
  color: var(--colour-white);
  text-decoration: none;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .order-now {
    align-items: center;
    flex-direction: column;
  }
}
